* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/************************NAVBAR************************/
.main {
	margin-top: 30px;
}
.navbar {
	background-color: #3b7080;
}

.nav-link {
	font-family: 'Noto Serif JP', serif;
}

#userData {
    display: flex;
    flex-flow: row nowrap;
}

#userName {
	display: flex;
	justify-self: end;
	align-items: center;
	margin-right: 15px;
	color: #000;
	font-weight: 600;
    max-width: 200px;
    max-height: 40px;
}
#userLogged {
	margin-right: 15px;
	color: #fff;
	font-weight: 600;
	margin-left: 15px;
}


.btn-add{
	margin-top: 8px;
	background-color: #db5375!important;
	font-family: "Raleway", sans-serif;
	font-style: italic;
	cursor: pointer;
	border: none;
	transition: all .4s;
}

.btn-add:hover {
	border-radius: 5px;
	transform: translateY(-10px);
	box-shadow: 0 7px 0 -2px #3b7080,
	0 15px 0 -4px #fca8bd,
	0 16px 10px -3px #e4bdc7;
}

#btnUser {
	background-color: rgb(52, 158, 158) !important;
	font-size: 18px;
	font-weight: 600;
}

/**********************FOOTER************************/
.footerBot {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 4.7em;
    margin-top: 85px;
	bottom: 0;
	background-color: #db5375;
	z-index: 1999;
	color: #fef6c9;
}

#cards {
	margin-right: 2.5rem;
	margin-left: 2.5rem;
}
.col-12 p {
	margin: 0;
}

#whatsapp,
#instagram {
	color: #000;
	font-size: 20px;
	font-weight: 500;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.lista {
	display: flex;
	flex-flow: column nowrap;
	background-color: rgb(217, 247, 241);
	width: 30rem;
	box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, 
	rgba(0, 0, 0, 0.23) 0 6px 6px;
	border-radius: 9px;
}


h1 {
	display: flex;
	justify-content: center;
	font-family: 'Tangerine', cursive;
}

.btn-info {
	background-color: rgb(93, 209, 122);
}

.btn-danger {
	background-color: rgb(60, 12, 94);
}

#vaciar-carrito {
	background-color: rgb(158, 5, 5);
}